[Unit]
Description=Global News Intelligence Platform
Wants=gni-api.service
Wants=gni-celery-ingestion.service
Wants=gni-celery-scheduler.service
Wants=gni-celery-alerts.service
Wants=gni-celery-beat.service

After=gni-migrate.service

[Install]
WantedBy=multi-user.target
